<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Disc App</title>
  </head>
  <body>
    <h1>Welcome to the Disc app!</h1>
    <p>An app for building your disc golf bag!.</p>
    <a href="/disc">Search Discs</a>
  </body>
</html>