<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Add Disc</title>
</head>
<body>
    <h1>Add a New Disc</h1>
    <form action="/disc" method="POST">
        <lable type="name">Name</lable>
        <input type="text" name="name" id="name" />

        <lable type="speed">Speed</lable>
        <input type="text" name="speed" id="speed" />

        <lable type="glide">Glide</lable>
        <input type="text" name="glide" id="glide" />

        <lable type="turn">Turn</lable>
        <input type="text" name="turn" id="turn" />
        
        <lable type="fade">Fade</lable>
        <input type="text" name="fade" id="fade" />

        <div class="checkbox-div">
            <lable for="in-the-bag">Put In the Bag</lable>
            <input type="checkbox" name="inTheBag" id="in-the-bag" />
        </div>

        <button type="submit">Add Disc</button>
    </form>
    <a class="disc-index-link"href="/disc/">
        <div class="index-link-text">Back to Discs</div>
    </a>
    
</body>
</html>